@charset "utf-8";

/* common style */
.inner {
    width: 1140px;
    margin: 0 auto;
    padding: 6% 0;
}

/* jquery addClass upMove */
.upMove {
    animation: upMove 1.2s ease both;
}

@keyframes upMove {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* main_banner area start */
#main_banner {
    position: relative;
    overflow: hidden;
}

#main_banner .m_bg {
    position: relative;
    background-image: url('../img/business/business_banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

.bannerAni {
    animation: bannerAni 1.2s ease;
}

@keyframes bannerAni {
    0% {
        filter: brightness(1.4);
        opacity: 0.4;
        transform: scale(1.2);
    }

    100% {
        filter: brightness(1);
        opacity: 1;
        transform: scale(1);
    }
}

#main_banner h2 {
    position: absolute;
    width: 1140px;
    margin: 0 auto;
    top: 210px;
    left: 0;
    right: 0;
    font-size: 34px;
    color: white;
    opacity: 0;
}

.tMove {
    animation: tMove 1.2s ease 0.4s both;
}

@keyframes tMove {
    0% {
        transform: translateY(60%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* main_banner area end */

/* content_wrap area start */
/* first strat */
.first .f_text {
    position: relative;
}

.first h3 {
    font-size: 36px;
    margin-bottom: 3%;
    opacity: 0;
}

.first span {
    font-size: 16px;
    line-height: 24px;
    color: #666;
    display: inline-block;
    word-break: keep-all;
    opacity: 0;
    animation-delay: 0.2s;
}

.first img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    animation-delay: 0.6s;
}

/* first end */

/* second start */
.second {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 280px;
    background: #f1f1f1;
}

.second img {
    width: 50%;
    opacity: 0;
}

.second .inner_text {
    padding-left: 30px;
}

.second .inner_text h4 {
    font-size: 28px;
    margin-bottom: 30px;
    opacity: 0;
}

.second .inner_text p {
    font-size: 16px;
    line-height: 24px;
    color: #666;
    opacity: 0;
    animation-delay: 0.3s;
}

/* second end */

/* third start */
.third {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-top: 40px;
    padding: 0;
}

.third .inner_text {
    width: 50%;
}

.third .inner_text h4 {
    font-size: 28px;
    margin-bottom: 30px;
    opacity: 0;
}

.third .inner_text p {
    font-size: 16px;
    line-height: 26px;
    color: #666;
    opacity: 0;
    animation-delay: 0.3s;
}

.third img {
    width: 363px;
    margin: 0 auto;
    z-index: -100;
    opacity: 0;
    animation-delay: 0.6s;
}

/* third end */
/* content_wrap area end */

/* media query */
@media screen and (max-width : 1160px) {
    #main_banner h2 {
        width: 100%;
        padding-left: 23px;
        box-sizing: border-box;
    }

    .second {
        width: 100%;
        padding-right: 30px;
        box-sizing: border-box;
    }

    .inner {
        width: 100%;
        padding: 4% 30px;
        box-sizing: border-box;
    }

    .third.inner {
        padding: 0 30px;
    }

    .third img {
        margin: 0;
    }
}

@media screen and (max-width : 1010px) {
    .first h3 {
        font-size: 32px;
    }

    .first .f_text {
        position: relative;
    }

    .first span {
        font-size: 16px;
        color: #666;
        display: inline-block;
    }

    .first img {
        position: static;
        margin-top: 4%;
    }
}

@media screen and (max-width : 865px) {
    .second {
        display: block;
        padding: 0px 0 30px;
    }

    .second img {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .second .inner_text {
        padding-left: 0;
        padding-right: 30px;
    }

    .second .inner_text h4 {
        font-size: 28px;
        padding-left: 30px;
        margin-bottom: 20px;
    }

    .second p {
        padding-left: 30px;
    }

    .third {
        display: block;
        padding: 0 30px;
    }

    .third img {
        display: block;
        margin: 5% auto 0;
    }

    .third .inner_text {
        width: 100%;
    }
}

@media screen and (max-width : 768px) {
    #main_banner {
        height: 200px;
    }

    #main_banner .m_bg {
        height: 200px;
    }

    #main_banner h2 {
        font-size: 22px;
        top: 150px;
    }

    .first h3 {
        font-size: 24px;
    }

    .first span {
        font-size: 14px;
        color: #666;
        display: inline-block;
    }
}

@media screen and (max-width : 570px) {
    .first span {
        font-size: 12px;
    }

    .first img {
        width: 40%;
    }

    .second .inner_text h4 {
        font-size: 20px;
    }

    .second .inner_text p {
        font-size: 14px;
    }

    .third .inner_text h4 {
        font-size: 20px;
    }

    .third .inner_text p {
        font-size: 14px;
    }
}

@media screen and (max-width : 400px) {
    .first img {
        width: 60%;
    }

    .third img {
        width: 90%;
    }
}