@charset "utf-8";

*{margin: 0;padding: 0;}
body, html{height: 100%;}
a{ color : inherit; text-decoration: none;}
ul,ol{list-style: none;}
img{vertical-align: bottom;}
address{font-style: normal;}

/* z-index
header_wrap : 500;

*/

/* header start */
.header_wrap{
  position : fixed;
  width: 100%;
  height: 73px;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  border-bottom : 1px solid #e9e9e9;
  transition : 0.2s;
  z-index: 500;
}

.header_wrap:hover{
  background: #fff;
}

header{
  display : flex;
  justify-content: space-between;
  width: 1140px;
  margin : 0 auto;
}



#logo{
  padding-top: 23px;
}
#logo h1{
  font-size: 0;
}
#logo h1 a{}
#logo h1 a img{}

#gnb{
  
}
#gnb > ul{
  padding-right: 24px;
}

#gnb > ul:after{
  content : '';
  clear : both;
  display : block;
}

#gnb > ul + div{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 0px;
  background: #fff;
  transition : 0.3s;
  z-index: -1;
}

#gnb:hover ul + div{
  height: 420px;
}

#gnb > ul > li{
  float : left;
  position : relative;
  width: 100px;
  height: 73px;
  line-height: 73px;
  margin-left: 20px;
}

#gnb > ul > li:first-child{
  margin-left: 0;
}

#gnb:hover ul.submenu{
  opacity: 1;
}

#gnb:hover{
  overflow : visible;
}

#gnb > ul > li:hover a{
  /* background: #f1f1f1; */
}

#gnb > ul > li > a{
  display: inline-block;
  position : relative;
  font-size: 16px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight : bold;
  color : #1e1e1e;
}

#gnb > ul > li:after{
  content : '';
  position : absolute;
  left: 50%;
  bottom: -1px;
  width: 0;
  height: 3px;
  background : #666;
  transition : 0.3s;
}

#gnb > ul > li:hover:after{
  left: 0%;
  width: 100%;
}

#gnb .submenu{
  position : absolute;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  opacity: 0;
  transition : 0.3s;
}
#gnb .submenu li{
  line-height: 39px;
}
#gnb .submenu li a{
  font-size: 14px;
  color : #666;
  white-space: nowrap;
}

#gnb .submenu li a:hover{
  color : #1e1e1e;
}
/* header end */

/* main_banner start */
#main_banner{
  position : relative;
}
#main_banner .mtext{
  position : absolute;
  display : inline-block;
  width: 50%;
  top: 36%;
  left: 50%;
}

.mtext h2{
  font-size: 4.2vw;
  font-weight: bold;
  color : #000;
  margin-bottom: 2%;
}
.mtext .subtitle{
  font-size: 1.5vw;
  color: #000;
  margin-bottom: 2%;
}
.mtext .text1{
  font-size: 9.6vw;
  font-weight: bold;
  line-height: 0.8;
  color: #000;
  opacity: 0.1;
  transform : translateX(-15%);
  transition : 0.3s;
}
.mtext .text2{
  transform : translateX(-25%)
}

#main_banner img{
  width: 100%;
  height: auto;
  margin-top: 74px;
}
/* main_banner end */

/* section start */
.container{

}

#first{
  padding : 10% 0;
  padding-left : 21%;
  box-sizing: border-box;
  background-image : url('../img/section2_img.png');
  background-size: 33% auto;
  background-repeat: no-repeat;
  background-position: 90% bottom;
}

#first .inner{
  
}

#first h3{
  font-size: 3.8vw;
  line-height: 1.4;
  margin-bottom: 20px;
  color : #1e1e1e;
}
#first p{
  font-size: 1.4vw;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 30px;
  color : #666;
}

.btn{
  display : inline-block;
  padding: 16px 28px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  color : #222;
  background: #ffdf00;
  transition : 0.3s;
}

.btn:hover{
  background: #222;
  color : #ffdf00;
}

#first .img{
  
}

#second{
  background-image: url('../img/section3_bg.png');
  width: 100%;
  height: 100%;
  background-size : cover;
}
#second .inner{
  text-align: center;
  padding: 15% 4%;
}
#second h3{
  font-size: 3.6vw;
  font-weight: normal;
  margin-bottom: 3%;
  color : white;

}

#second img{
  width: 100%;
  height: auto;
}
/* section end */

/* footer start */
footer{
  padding : 45px 0;
  background: #1e1e1e;
}
footer .inner{
  width: 1140px;
  margin : 0 auto;
}
footer .inner .f_top{
  margin-bottom: 112px;
}
footer .inner .f_top ul{

}
footer .inner .f_top ul li{
  position : relative;
  display: inline-block;
  padding : 0 14px;
}

footer .inner .f_top ul li:after{
  content : '';
  position : absolute;
  display : inline-block;
  top: 5px;
  left: -4px;
  width: 1px;
  height: 14px;
  background: #666;
}
footer .inner .f_top ul li:first-child:after{
  display: none;
}

footer .inner .f_top ul li:first-child{
  padding-left: 0;
}

footer .inner .f_top ul li a{
  font-size: 14px;
  color : #666;
}

footer .inner .f_top ul li a:hover{
  color : #888;
}
footer .f_logo{
  margin-bottom: 20px;
}
footer .f_logo a{}
footer .f_logo a img{}

footer .f_info{
  display: block;
  font-size : 14px;
  color : #666;
}
footer .f_info address{
  position : relative;
  display : inline-block;
  padding-right : 14px;
  margin-right : 7px;
}

footer .f_info address:after{
  content : '';
  display : block;
  position : absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 1px;
  height: 90%;
  background: #666;
}

footer .f_info .tel{
  display: inline-block;
  vertical-align: top;
}
footer .f_info .copyright{
  text-align: right;
}
/* footer end */

/* media query */
@media screen and (max-width : 1160px){
  header{
    width : 100%;
  }
  footer .inner{
    width: 100%;
  }
}

@media screen and (max-width : 1024px){
  
}